div.info
   div.info_wrapper
      div.navegacion_hechos
         if (is_admin)
            button.add_action.right(ng-click="add_bien()")
         div.empty(ng-hide="root.bienes.length") No hay bienes para este postulado.
         div.hecho_lista(ng-show="root.bienes.length") 
            div.hecho_lista_title
               Hay {{root.bienes.length}} bienes para este postulado.
            div.hecho_titulo(ng-class="{selected: $index==root.selectedBienIndex, dirty: bien.dirty}" ng-click="get_bien($index)" ng-repeat="bien in root.bienes") {{bien.titulo}}


      div.dialog(ng-show="root.create_bien")    
         h2.info_subtitle Agregar nuevo bien
         label.form Titulo del bien
         br
         input.dialog_input(ng-model="root.new_bien_title" name="root.new_bien_title" required type="text")
         br
         button.buttons(ng-click="crea_bien()" ng-disabled="invalid_form") Crear bien
         button.buttons(ng-click="cancela_crea_bien()") Cancelar

      div.datos_version(ng-show="root.bienes.length")
         h2.info_subtitle Bien
           div(input-inline-edit="root.bien.titulo" class="inline inline-heading" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="10")
         table.tab_form_table
            tr
               td
                  label.small_form Datos versión
                  div(input-inline-edit="root.bien.datos_version" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="21")
               td
                  label.small_form Perfil
                  div(input-inline-edit="root.bien.perfil" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="22")            
               td
                  label.small_form Hora en mención
                  div(input-inline-edit="root.bien.documentos" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="23")