div.info
   div.info_wrapper
      div.navegacion_hechos
         if (is_admin)
            button.add_action.right(ng-click="add_bien()")
         div.empty(ng-hide="root.bienes.length") No hay bienes para este postulado.
         div.hecho_lista(ng-show="root.bienes.length") 
            div.hecho_lista_title
               Hay {{root.bienes.length}} bienes para este postulado.
            input.item_filter(type="text" placeholder="Buscar bien" name="bien_search" ng-model="root.bienes.search")
            div.hecho_titulo(ng-class="{selected: bien==root.bien, dirty: bien.dirty}" ng-click="get_bien(bien)" ng-repeat="bien in root.bienes | filter:root.bienes.search") {{bien.titulo}}
              div.delete_item(ng-click="delete_bien(bien)")


      div.dialog(ng-show="root.create_bien")    
         h2.info_subtitle Agregar nuevo bien
         label.form Titulo del bien
         br
         input.dialog_input(ng-model="root.new_bien_title" name="root.new_bien_title" required type="text")
         br
         button.buttons(ng-click="crea_bien()" ng-disabled="invalid_form") Crear bien
         button.buttons(ng-click="cancela_crea_bien()") Cancelar

      div.datos_version(ng-show="root.bienes.length")
         h2.info_subtitle Bien
           div(input-inline-edit="root.bien.titulo" class="inline inline-heading" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="10")
         table.tab_form_table
            tr
               td
                  label.small_form Descripción 
                  div(input-inline-edit="root.bien.descripcion" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="21")
               td
                  label.small_form Valor 
                  div(input-inline-edit="root.bien.valor" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="22")            
               td
                  label.small_form Fecha entrega 
                  div(input-inline-date="root.bien.fecha_entrega" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="23")
            tr
               td
                  label.small_form Recibido acción social 
                  div(input-inline-radio="root.bien.rec_acc_social" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="21")
               td
                  label.small_form Avalúo acción social 
                  div(input-inline-edit="root.bien.avaluo_acc_social" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="22")            
               td
                  label.small_form Observaciones 
                  div(input-inline-text="root.bien.observaciones" on-save="set_bien_dirty()" ng-focus="edit()" tabindex="23")

         h2.info_subtitle Observaciones del postulado 
         p(ng-hide="not_empty(root.bien.mensaje)") No hay observaciones del postulado
         div(ng-show="not_empty(root.bien.mensaje)") 
           div(input-inline-text="root.bien.mensaje" on-save="set_dirty()" ng-focus="edit()" tabindex="206") 


         h2.info_subtitle Observaciones del investigador 
         p(ng-hide="not_empty(root.bien.observacion)") No hay observaciones del investigador 
         div(input-inline-text="root.bien.observacion" on-save="set_dirty()" ng-focus="edit()" tabindex="220") 

