div(ng-controller="AdminCtrl") 
    div.hecho_main
      div.inline.editable_heading(inline-edit="hecho.title", placeholder="Titulo del Hecho") 
      div.action_buttons
        button(class="buttons action_button" ng-click="save_hecho()") Salvar
        button(class="buttons cancel_button" ng-click="cancel()") Cancelar
      div.messages
        div.error
          {{error}}
        div.notification
          {{notification}}
    div.hecho_info
      div.postulado_img 
      div.info_col
        div.info_element
           label(class="form") Clasificación del hecho
           div.form(inline-edit="hecho.penal", placeholder="Clasificación del hecho")
        div.info_element_bottom
          label(class="form") Fecha ocurrencia del hecho
          div.form(inline-edit="post.estado_civil")
        div.info_element
          div.checkbox_label
           label(class="form") Hecho confesado 
          div.checkbox_elements
           label(class="chk_label") Si 
           input(class="square_28", type="radio", ng-model="hecho.confesado" name="hecho.confesado", value="Si") 
           br
           label(class="chk_label") No 
           input(class="square_28", type="radio", ng-model="hecho.confesado" name="hecho.confesado", value="No") 
      div.info_col
        div.info_element_double
          label(class="form") Narración del hecho 
          button(class="small_button action_button" ng-click="view_video()")
        div.info_element
          div.checkbox_label
           label(class="form") Hecho enuncidado con responsabilidad 
          div.checkbox_elements
           label(class="chk_label") Si 
           input(class="square_28", type="radio", ng-model="hecho.responsabilidad" name="hecho.responsabilidad", value="Si") 
           br
           label(class="chk_label") No 
           input(class="square_28", type="radio", ng-model="hecho.responsabilidad" name="hecho.responsabilidad", value="No") 
