div.info
   h2.info_subtitle(ng-class="{dirty: root.hoja.dirty}") Información personal del desmovilizado
   table.tab_form_table
      tr
         td
            label.small_form Estado civil
            div(input-inline-select="root.hoja.estado_civil" opciones="root.civiles" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="11")
         td
            label.small_form Alias utilizado en la organización 
            div(input-inline-edit="root.hoja.alias" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="12")
         td
            label.small_form Lugar de expedición cédula
            div(input-inline-edit="root.hoja.lugar_cedula" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="13")
      tr
         td
            label.small_form Lugar de nacimiento
            div(input-inline-edit="root.hoja.lugar_nacimiento" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="15")
         td
            label.small_form Edad
            <br>{{calc_age(root.postulado.fecha_nacimiento)}}
         td
            label.small_form Frente del BEC con el cual se desmovilizó
            div(input-inline-edit="root.hoja.frente_bec" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="16")
      tr
         td
            label.small_form Numero de certificación de desmovilización 
            div(input-inline-edit="root.hoja.num_desmovil" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="21")
         td
            label.small_form Otros nombres y apellidos adoptados
            div(input-inline-text="root.hoja.otros_nombres" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="26")
         td
            label.small_form Estatura
            div(input-inline-edit="root.hoja.estatura" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="31")
      tr
         td
            label.small_form Peso
            div(input-inline-edit="root.hoja.peso" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="32")
         td
            label.small_form Domicilio
            div(input-inline-edit="root.hoja.domicilio" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="33")
         td
            label.small_form Teléfono fijo
            div(input-inline-edit="root.hoja.fijo" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="35")
      tr
         td
            label.small_form Teléfono celular
            div(input-inline-edit="root.hoja.celular" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="36")
         td
            label.small_form Profesión - Ocupación
            div(input-inline-edit="root.hoja.profesion" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="41")
         td
            label.small_form Grado de instrucción - Nivél academico
            div(input-inline-edit="root.hoja.grado" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="43")

   h2.info_subtitle Datos familiares 
   table.tab_form_table
      tr
         td
            label.small_form Conyugue o compañera/o permanente
            div(input-inline-edit="root.hoja.conyugue" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="44")
         td
            label.small_form Nombre de la madre
            div(input-inline-edit="root.hoja.madre" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="45")
         td
            label.small_form Nombre del padre
            div(input-inline-edit="root.hoja.padre" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="46")
      tr
         td
            label.small_form Hijos
            div(input-inline-text="root.hoja.hijos" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="47")
         td
            label.small_form Hermanos
            div(input-inline-text="root.hoja.hermanos" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="48")


   h2.info_subtitle Bienes 
   table.tab_form_table
      tr
         td
            label.small_form Descripción 
            div(input-inline-text="root.hoja.bienes_desc" on-save="set_hv_dirty()" ng-focus="edit()" tabindex="75")
   
   h2.info_subtitle Remisiones 
   a(ng-show="root.hoja.remisiones", href="{{root.hoja.remisiones}}") Bajar archivo remisiones
   p(ng-hide="root.hoja.remisiones") No hay archivo de remisiones.
   file-upload.uploadContainer.inline(path="'hv'" file_id="'remis'" path_id="'remis'" complete_function="set_remision(url)" post_id="root.postulado_id")
         div(ng-show="progressVisible")
            div.percent {{uploadProgress}}%
            div.progress-bar
                div.uploaded(ng-style="{'width': uploadProgress+'%'}")

   h2.info_subtitle Observaciones del postulado 
   p(ng-hide="not_empty(root.hoja.mensaje)") No hay observaciones del postulado
   div(ng-show="root.hoja.mensaje")
    div(input-inline-text="root.hoja.mensaje" on-save="set_dirty()" ng-focus="edit()" tabindex="206") 

