div.info_wrapper
   div.navegacion_hechos
      if (is_admin)
         button.add_action.right(ng-click="add_delito()")
      div.empty(ng-hide="root.delitos.length") No hay delitos para este postulado.
      div.hecho_lista(ng-show="root.delitos.length") 
         div.hecho_lista_title
            Hay {{root.delitos.length}} delitos para este postulado.
         input.item_filter(type="text" placeholder="Buscar delitos" name="delito_search" ng-model="root.delitos.search")
         div.hecho_titulo(ng-class="{selected: delito==root.delito, dirty: delito.dirty}" ng-click="get_delito(delito)" ng-repeat="delito in root.delitos | filter:root.delitos.search") {{delito.titulo}} 
            div.delete_item(ng-click="delete_delito(delito)")


   div.dialog.create_delito(ng-show="root.create_delito")    
      h2.info_subtitle Agregar nuevo delito
      label.form Titulo del hecho
      br
      input.dialog_input(ng-model="root.newdelitotitle" name="root.newdelitotitle" required type="text")
      br
      button.buttons(ng-click="crea_delito()" ng-disabled="invalid_form") Crear delito
      button.buttons(ng-click="cancela_crea_delito()") Cancelar

   div.datos_version(ng-show="root.delitos.length")
      h2.info_subtitle Datos versión
        div(input-inline-edit="root.delito.titulo" class="inline inline-heading" on-save="set_dirty()" ng-focus="edit()" tabindex="5")
      table.tab_form_table
         tr
            td
               label.small_form Delito
               div(input-inline-select-codigo="root.delito.codigo_penal" on-save="set_dirty()" opciones="root.codigos" ng-focus="edit()" tabindex="6")
            td
               label.small_form Tipo de versión
               div(input-inline-select="root.delito.tipo_version" opciones="root.tipos_version" on-save="set_dirty()" ng-focus="edit()" tabindex="7")
            td
               label.small_form Fecha de la versión
               div(input-inline-date="root.delito.fecha_version" on-save="set_dirty()" ng-focus="edit()" tabindex="8")
         tr
            td
               label.small_form Fiscalía
               div(input-inline-edit="root.delito.fiscalia" on-save="set_dirty()" ng-focus="edit()" tabindex="9")
            td
               label.small_form Sitio de reclusión
               div(input-inline-edit="root.delito.sitio_reclusion" on-save="set_dirty()" ng-focus="edit()" tabindex="10")
            td
               label.small_form Bloque de postulación
               div(input-inline-edit="root.delito.bloque_post" on-save="set_dirty()" ng-focus="edit()" tabindex="11")

      h2.info_subtitle.inline Datos de la acción
      div.inline.datos_acciones(ng-controller="FileUploadCtrl")
         button.buttons.mleft10(ng-show='root.delito.video_path' ng-click="ver_video()") Ver video
         button.buttons.mleft10(ng-show='root.delito.video_path' ng-click="del_video()") Eliminar video
         button.buttons.mleft10(ng-hide='root.delito.video_path || root.file_selected' ng-click="busca_video()") Cargar video 
         input(style="display: none" type="file" ng-model-instant id="videoToUpload" onchange="angular.element(this).scope().setFiles(this)") 
         button.buttons.mleft10( ng-show="root.subirVideo" ng-click="uploadFile()") Grabar video 
         label.inline.small_text(ng-show="root.subirVideo" id="uploadFileName")
         div(ng-show="root.progressVisible")
            div.percent {{progress}}%
            div.progress-bar
                div.uploaded(ng-style="{'width': progress+'%'}")

        
         div#overlay(ng-show="root.play_video")
         div.video_wrapper
            div#video_container(ng-show="root.play_video")
               br
               button.btn(ng-click="cerrar()") Cerrar
            

         

      table.tab_form_table
         tr
            td
               label.small_form Hora en mención del hecho
               div(input-inline-time="root.delito.hora_mencion" on-save="set_dirty()" ng-focus="edit()" ng-focus="edit()" tabindex="12")
            td
               label.small_form Hecho enunciado con/sin responsabilidad
               div(input-inline-radio="root.delito.responsabilidad" on-save="set_dirty()" ng-focus="edit()" tabindex="13")
            td
               label.small_form Hecho confesado
               div(input-inline-radio="root.delito.confesado" on-save="set_dirty()" ng-focus="edit()" tabindex="14")
         tr
            td
               label.small_form Narración del hecho
               div(input-inline-text="root.delito.narracion" on-save="set_dirty()" ng-focus="edit()" tabindex="15")
            td
               label.small_form Fecha ocurrencia del hecho
               div(input-inline-text="root.delito.fecha_ocurrencia" on-save="set_dirty()" ng-focus="edit()" tabindex="17")

      h2.info_subtitle Georeferenciación
      file-upload.uploadContainer.inline(path="'delitos'" path_id="root.delito._id + '/map'" post_id="root.postulado_id")
         div(ng-show="progressVisible")
            div.percent {{uploadProgress}}%
            div.progress-bar
                div.uploaded(ng-style="{'width': uploadProgress+'%'}")

      button.buttons(ng-click="view_docs('delitos',root.delito._id + 'XXmap')") Ver mapa
      table.tab_form_table
         tr
            td
               label.small_form Pais
               div(input-inline-select="root.delito.pais" opciones="root.paises" on-save="set_dirty()" ng-focus="edit()" tabindex="18")
            td
               label.small_form Departamento
               div(input-inline-select="root.delito.dept" opciones="root.delito_depts" on-save="set_dirty()" ng-focus="edit()" tabindex="19")
            td
               label.small_form Municipio
               div(input-inline-edit="root.delito.municipio" on-save="set_dirty()" ng-focus="edit()" tabindex="20")
         tr
            td
               label.small_form Dirección
               div(input-inline-edit="root.delito.direccion" on-save="set_dirty()" ng-focus="edit()" tabindex="21")
            td
               label.small_form Barrio
               div(input-inline-edit="root.delito.barrio" on-save="set_dirty()" ng-focus="edit()" tabindex="21")
            td
               label.small_form Corregimiento
               div(input-inline-edit="root.delito.corregimiento" on-save="set_dirty()" ng-focus="edit()" tabindex="21")
         tr  
            td
               label.small_form Vereda
               div(input-inline-edit="root.delito.vereda" on-save="set_dirty()" ng-focus="edit()" tabindex="22")
            td
               label.small_form Finca
               div(input-inline-edit="root.delito.finca" on-save="set_dirty()" ng-focus="edit()" tabindex="23")         
            td
               label.small_form Via
               div(input-inline-edit="root.delito.via" on-save="set_dirty()" ng-focus="edit()" tabindex="24")
         tr            
            td
               label.small_form Otro lugar
               div(input-inline-edit="root.delito.otro_lugar" on-save="set_dirty()" ng-focus="edit()" tabindex="26")


      h2.info_subtitle Autores participantes
      button.add_action_small(ng-click="add_participante()")
      table.tab_form_table.addition.smooth_separator(ng-show="root.delito.participantes.length > 0" ng-repeat="participante in root.delito.participantes")
         tr
            td
               label.small_form Nombres
               button.mleft10.bordered.action_button(ng-click="remove_participante(participante)") Eliminar este participante
               div(input-inline-edit="participante.nombres" on-save="set_dirty()" ng-focus="edit()" tabindex="31")
            td
               label.small_form Apellidos
               div(input-inline-edit="participante.apellidos" on-save="set_dirty()" ng-focus="edit()" tabindex="32")
            td
               label.small_form Alias
               div(input-inline-edit="participante.alias" on-save="set_dirty()" ng-focus="edit()" tabindex="33")
         tr
            td
               label.small_form Grupo armado pertenencia
               div(input-inline-select="participante.pertenencia" opciones="root.grupos_armados" on-save="set_dirty()" ng-focus="edit()" tabindex="34")
            td
               label.small_form Hecho confesado en versión libre del coparticipe
               div(input-inline-edit="participante.confesado" on-save="set_dirty()" ng-focus="edit()" tabindex="35")
            td
               label.small_form Hora en mención del hecho
               div(input-inline-time="participante.hora_mencion" on-save="set_dirty()" ng-focus="edit()" tabindex="36")
         tr
            td 
               label.small_form Datos sobre pertenencia grupo armado
               div(input-inline-text="participante.participacion_datos" on-save="set_dirty()" ng-focus="edit()" tabindex="39")
            td
              &nbsp;
            td
              &nbsp;
         tr(ng-show="participante.pertenencia == 'Autodefensa'")
            td
               label.small_form Autodefensa Bloque
               div(input-inline-edit="participante.autodefensa_bloque" on-save="set_dirty()" ng-focus="edit()" tabindex="41")
            td 
               label.small_form Autodefensa Frente
               div(input-inline-edit="participante.autodefensa_frente" on-save="set_dirty()" ng-focus="edit()" tabindex="42")
            td 
               label.small_form Autodefensa Comandante
               div(input-inline-edit="participante.autodefensa_comandante" on-save="set_dirty()" ng-focus="edit()" tabindex="43")
         tr(ng-show="participante.pertenencia == 'Autodefensa'")
            td
               label.small_form Autodefensa Linea de mando
               div(input-inline-edit="participante.autodefensa_mando" on-save="set_dirty()" ng-focus="edit()" tabindex="45")
            td
              &nbsp;
            td
              &nbsp;
         tr
            td
               label.small_form Otros implicados en el hecho
               button.add_action_small(ng-click="add_otro(participante)") 
               div.participante(ng-repeat="otro in participante.otros_implicados")
                  label.small_form Nombres
                  div(input-inline-edit="otro.nombres" on-save="set_dirty()" ng-focus="edit()" tabindex="100")
                  label.small_form Apellidos
                  div(input-inline-edit="otro.apellidos" on-save="set_dirty()" ng-focus="edit()" tabindex="101")
                  label.small_form Alias
                  div(input-inline-edit="otro.alias" on-save="set_dirty()" ng-focus="edit()" tabindex="102")
                  label.small_form Pertenencia
                  div(input-inline-edit="otro.pertenencia" on-save="set_dirty()" ng-focus="edit()" tabindex="103")
                  label.small_form Participación
                  div(input-inline-text="otro.participacion" on-save="set_dirty()" ng-focus="edit()" tabindex="104")
            td
              &nbsp;
            td
              &nbsp;
            

      h2.info_subtitle Victimas
      label.small_form Numero de victimas 
      input.quick_input(ng-model="root.delito.num_victimas" on-change="set_dirty()" tabindex="120")
      br

      button.add_action_small(ng-click="add_victima()")
      table.tab_form_table.additions.smooth_separator(ng-repeat="v in root.delito.victimas")
         tr
            td
               label.small_form Nombre de la victima
               button.mleft10.bordered.action_button(ng-click="remove_victima(v)") Eliminar esta victima
               div(input-inline-edit="v.nombres" on-save="set_dirty()" ng-focus="edit()" tabindex="200")
            td
               label.small_form Apellidos de la victima
               div(input-inline-edit="v.apellidos" on-save="set_dirty()" ng-focus="edit()" tabindex="202")
            td
               label.small_form Oficio de la victima
               div(input-inline-edit="v.oficio" on-save="set_dirty()" ng-focus="edit()" tabindex="203")
         tr
            td
               label.small_form Perfil de la victima
               div(input-inline-text="v.perfil" on-save="set_dirty()" ng-focus="edit()" tabindex="204")
            td
               label.small_form Victima enunciada por el postulado o por fiscalía
               div(input-inline-edit="v.enunciada_por" on-save="set_dirty()" ng-focus="edit()" tabindex="205")
            td
               label.small_form Datos completos 
               div(input-inline-text="v.datos_completos" on-save="set_dirty()" ng-focus="edit()" tabindex="206") 

      h2.info_subtitle Observaciones del postulado 
      p(ng-hide="not_empty(root.delito.mensaje)") No hay observaciones del postulado
      div(ng-show="root.delito.mensaje")
         div(input-inline-text="root.delito.mensaje" on-save="set_dirty()" ng-focus="edit()" tabindex="210") 

      h2.info_subtitle Observaciones del investigador 
      p(ng-hide="not_empty(root.delito.observacion)") No hay observaciones del investigador 
      div(input-inline-text="root.delito.observacion" on-save="set_dirty()" ng-focus="edit()" tabindex="220") 

   div.file_browser(ng-show="showFiles")
      span.close_button.right
         img(id="close_dialog_button" alt="Cerrar" title="Cerrar" ng-click="close_browser()" src="/img/close.png")
      div.file_browser_content         
         div.empty(ng-show="root.files.length < 1") 
            h1 No hay archivos de mapas para este delito
         div.files(ng-show="root.files.length > 0")
            div.file(ng-repeat="file in root.files")
               a(ng-href="/docs/{{root.postulado_id}}/delitos/{{root.delito._id}}XXmap/{{file}}")
                  img(src="/img/docs_icon.png")
                  p.doc_title {{file}}
