div.info_wrapper
   div.navegacion_hechos
      if (is_admin)
         button.add_action.right(ng-click="add_op_conjunta()")
      div.empty(ng-hide="root.op_conjuntas.length") No hay asunto de Operaciones Conjuntas para este postulado.
      div.hecho_lista(ng-show="root.op_conjuntas.length") 
         div.hecho_lista_title
            Hay {{root.op_conjuntas.length}} asuntos de Operaciones Conjuntas para este postulado.
         input.item_filter(type="text" placeholder="Buscar operaci贸n" name="op_search" ng-model="root.op_conjuntas.search")
         div.hecho_titulo(ng-class="{selected: op_conjunta==root.op_conjunta, dirty: op_conjunta.dirty}" ng-click="get_op_conjunta(op_conjunta)" ng-repeat="op_conjunta in root.op_conjuntas | filter:root.op_conjuntas.search") {{op_conjunta.titulo}}
            div.delete_item(ng-click="delete_op_conjunta(op_conjunta)")


   div.dialog.create_op_conjunta(ng-show="root.create_op_conjunta")    
      h2.info_subtitle Agregar nuevo asunto de Operaciones Conjuntas
      label.form Nombre de la Operaci贸n Conjunta 
      br
      input.dialog_input(ng-model="root.new_op_conjunta_title" name="root.new_op_conjunta_title" required type="text")
      br
      button.buttons(ng-click="crea_op_conjunta()" ng-disabled="invalid_form") Crear
      button.buttons(ng-click="cancela_crea_op_conjunta()") Cancelar

   div.datos_version(ng-show="root.op_conjuntas.length")
      h2.info_subtitle Datos
        div(input-inline-edit="root.op_conjunta.titulo" class="inline inline-heading" on-save="set_op_conjunta_dirty()" ng-focus="edit()" tabindex="5")
      table.tab_form_table
         tr
            td
               label.small_form Relaci贸n
               div(input-inline-select-pp="root.op_conjunta.tipo" on-save="set_op_conjunta_dirty()" opciones="root.tipos_op_conjunta" ng-focus="edit()" tabindex="15")
            td
               label.small_form Nombres implicado
               div(input-inline-edit="root.op_conjunta.nombres_implicado" on-save="set_op_conjunta_dirty()" ng-focus="edit()" tabindex="16")
            td
               label.small_form Apellidos implicado
               div(input-inline-edit="root.op_conjunta.apellidos_implicado" on-save="set_op_conjunta_dirty()" ng-focus="edit()" tabindex="17")
         tr
            td
               label.small_form Narraci贸n del hecho 
               div(input-inline-text="root.op_conjunta.narracion" on-save="set_op_conjunta_dirty()" ng-focus="edit()" tabindex="20")
   
      h2.info_subtitle Observaciones del postulado 
      p(ng-hide="not_empty(root.op_conjunta.mensaje)") No hay observaciones del postulado
      div(ng-show="root.op_conjunta.mensaje")
        div(input-inline-text="root.op_conjunta.mensaje" on-save="set_dirty()" ng-focus="edit()" tabindex="206") 

      h2.info_subtitle Observaciones del investigador 
      p(ng-hide="not_empty(root.op_conjunta.observacion)") No hay observaciones del investigador 
      div(input-inline-text="root.op_conjunta.observacion" on-save="set_dirty()" ng-focus="edit()" tabindex="220") 

