div.info
   div.info_wrapper
      div.navegacion_hechos
         if (is_admin)
            button.add_action.right(ng-click="add_menor()")
         div.empty(ng-hide="root.menores.length") No hay menores para este postulado.
         div.hecho_lista(ng-show="root.menores.length") 
            div.hecho_lista_title
               Hay {{root.menores.length}} menores para este postulado.
            input.item_filter(type="text" placeholder="Buscar menores" name="menor_search" ng-model="root.menores.search")
            div.hecho_titulo(ng-class="{selected: menor==root.menor, dirty: menor.dirty}" ng-click="get_menor(menor)" ng-repeat="menor in root.menores | filter:root.menores.search") 
               div.delete_item(ng-click="delete_menor(menor)")
               div(ng-hide="menor.nombres == 'No especificado'") {{menor.nombres}}&nbsp; {{ menor.apellidos}}
               div(ng-show="menor.nombres == 'No especificado'") {{menor.cedula_menor}}


      div.dialog(ng-show="root.create_menor")    
         h2.info_subtitle Agregar nuevo menor
         label.form Nombre del menor
         br
         input.dialog_input(ng-model="root.new_menor_title" name="root.new_menor_title" required type="text")
         br
         button.buttons(ng-click="crea_menor()" ng-disabled="invalid_form") Crear menor
         button.buttons(ng-click="cancela_crea_menor()") Cancelar

      div.datos_version(ng-show="root.menores.length")
         h2.info_subtitle Menor
           div(input-inline-edit="root.menor.cedula_menor" class="inline inline-heading" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="10")
         table.tab_form_table
            tr
               td
                  label.small_form Estado 
                  div(input-inline-select-menor-status="root.menor.status" opciones="root.opciones_status"  on-save="set_menor_dirty()" ng-focus="edit()" tabindex="21")
               td
                  label.small_form Nombres
                  div(input-inline-edit="root.menor.nombres" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="22")            
               td
                  label.small_form Apellidos
                  div(input-inline-edit="root.menor.apellidos" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="23")
            tr
               td
                  label.small_form Alias
                  div(input-inline-edit="root.menor.alias" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="31")
               td
                  label.small_form Fecha ingreso al BEC
                  div(input-inline-date="root.menor.fecha_ingreso" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="32")            
               td
                  label.small_form Edad de ingreso al BEC
                  div(input-inline-edit="root.menor.edad_ingreso" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="33")
            tr
               td
                  label.small_form Edad de desmovilización
                  div(input-inline-edit="root.menor.edad_desmovilizado" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="41")
               td
                  label.small_form Frente
                  div(input-inline-edit="root.menor.frente" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="42")    
               td
                  label.small_form Comandante inmediato
                  div(input-inline-edit="root.menor.comandante" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="43")
            tr
               td
                  label.small_form Labor que desarrollaba en el BEC
                  div(input-inline-edit="root.menor.labor" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="51")
               td
                  label.small_form Nivél académico
                  div(input-inline-edit="root.menor.nivel_academico" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="52")            
               td
                  label.small_form Nombre del acudiente
                  div(input-inline-edit="root.menor.acudiente" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="53")
            tr
               td
                  label.small_form Dirección
                  div(input-inline-edit="root.menor.direccion" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="61")
               td
                  label.small_form Telefono
                  div(input-inline-edit="root.menor.telefono" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="62")            
               td
                  label.small_form Incapacidades
                  div(input-inline-text="root.menor.incapacidades" on-save="set_menor_dirty()" ng-focus="edit()" tabindex="63")

         h2.info_subtitle Observaciones del postulado 
         p(ng-hide="not_empty(root.menor.mensaje)") No hay observaciones del postulado
         div(ng-show="not_empty(root.menor.mensaje)") 
            div(input-inline-text="root.menor.mensaje" on-save="set_dirty()" ng-focus="edit()" tabindex="206") 

         h2.info_subtitle Observaciones del investigador 
         p(ng-hide="not_empty(root.delito.observacion)") No hay observaciones del investigador 
         div(input-inline-text="root.delito.observacion" on-save="set_dirty()" ng-focus="edit()" tabindex="220") 

