div.info_wrapper
   div.navegacion_hechos
      div.empty(ng-hide="root.parapoliticas.length") No hay asunto de parapoliticas para usted.
      div.hecho_lista(ng-show="root.parapoliticas.length") 
         div.hecho_lista_title
            Hay {{root.parapoliticas.length}} asuntos de parapoliticas para usted.
         div.hecho_titulo(ng-class="{selected: $index==root.selectedParapoliticaIndex, dirty: parapolitica.dirty}" ng-click="get_parapolitica($index)" ng-repeat="parapolitica in root.parapoliticas") {{parapolitica.titulo}}

   div.datos_version(ng-show="root.parapoliticas.length")
      img.icon.right(ng-click="doPrint()" src="/img/print.png")
      h2.info_subtitle Datos  
        div.inline.inline-heading {{ root.parapolitica.titulo }}
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Relaci贸n
            td
               div.myview_form_value {{root.parapolitica.tipo }}
         tr
            td.align_right
               label.small_form Nombres implicado
            td
               div.myview_form_value {{root.parapolitica.nombres_implicado}}
         tr
            td.align_right
               label.small_form Apellidos implicado
            td
               div.myview_form_value {{root.parapolitica.apellidos_implicado}}
         tr
            td.align_right
               label.small_form Compulsa de copias
            td
               div.myview_form_value {{root.parapolitica.compulsa_copias}}
         tr
            td.align_right
               label.small_form Condenas
            td
               div.myview_form_value {{root.parapolitica.condenas}}
         tr
            td.align_right
               label.small_form Absoluci贸n
            td
               div.myview_form_value {{root.parapolitica.absolucion}}
         tr
            td.align_right
               label.small_form Narraci贸n de los hechos
            td
               div.myview_form_value {{root.parapolitica.narracion}}

      h2.info_subtitle.inline Georeferenciaci贸n     
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Pais
            td
               div.myview_form_value {{root.parapolitica.pais}}
         tr
            td.align_right
               label.small_form Departamento
            td
               div.myview_form_value {{root.parapolitica.departamento}}
         tr
            td.align_right
               label.small_form Municipio
            td
               div.myview_form_value {{root.parapolitica.municipio}}
         tr
            td.align_right
               label.small_form Corregimiento
            td
               div.myview_form_value {{root.parapolitica.corregimiento}}
         tr
            td.align_right
               label.small_form Vereda
            td
               div.myview_form_value {{root.parapolitica.vereda}}
         tr
            td.align_right
               label.small_form Latitud
            td
               div.myview_form_value {{root.parapolitica.lat}}
         tr
            td.align_right               
               label.small_form Longitud
            td
               div.myview_form_value {{root.parapolitica.long}}
