div.myview_wrapper
 div(ng-controller="PostuladoCtrl") 
    h1.inline Postulado
    div.postulado_info
      div.postulado_img(ng-controller="FileUploadCtrl" ng-mouseenter="show_buttons()" ng-mouseleave="hide_buttons()" )
        div.picture()
        img(ng-show="root.postulado.picture" src="{{root.postulado.picture}}" width="100px" height="100px")
        
      div.myview_info_general
        label Nombres
        div.myview_form_value {{root.postulado.nombres}}
        label Apellidos
        div.myview_form_value {{root.postulado.apellidos}}
      div.myview_info_general
        label Cédula
        div.myview_form_value {{root.postulado.cedula}}
        label Fecha de nacimiento
        div.myview_form_value {{root.postulado.fecha_nacimiento | date: 'dd/MM/yyyy' }}
      div.myview_info_general
        label Ciudad
        div.myview_form_value {{root.postulado.ciudad}}
      div.pdf_download
        a(href="/minfo/pdf")
         img(src="/img/pdf.png")
         //-img(src="/img/pdf.png" ng-click="load_pdf_view()") 
        

    tabset.info_tabs
      tab.info_tab.active(heading="Hoja de Vida" select="hv()")
        div.tab_content(ng-include="'/partials/myview_hv'")        
      tab.info_tab(heading="Transicional" select="jyp()") 
        div.tab_content(ng-include="'/partials/myview_jyp'")
      tab.info_tab(heading="Procesos" select="proces()") 
        div.tab_content(ng-include="'/partials/myview_proc'")
      tab.info_tab(heading="Bienes" select="bienes()")
        div.tab_content(ng-include="'/partials/myview_bienes'") 
      tab.info_tab(heading="Menores" select="menores()") 
        div.tab_content(ng-include="'/partials/myview_menores'")
      tab.info_tab(heading="Estadisticas" select="stats()") 
        div.tab_content(ng-include="'/partials/myview_stats'")
