div.info
   div.info_wrapper
      div.navegacion_hechos
         div.empty(ng-hide="root.proces.length") No hay procesos para usted.
         div.hecho_lista(ng-show="root.proces.length") 
            div.hecho_lista_title
               Hay {{root.proces.length}} procesos para usted.
            div.hecho_titulo(ng-class="{selected: $index==root.selectedProcIndex, dirty: proc.dirty}" ng-click="get_proc($index)" ng-repeat="proc in root.proces") {{proc.titulo}}

      div.datos_version(ng-show="root.proces.length")
        img.icon.right(ng-click="doPrint()" src="/img/print.png")
        h2.info_subtitle Proceso 
           div.inline.inline-heading {{root.proc.titulo}}
        hr.title_separator
        img.icon.right(ng-show="root.proc.mensaje" ng-click="message()" src="/img/message_exists.png")
        img.icon.right(ng-hide="root.proc.mensaje" ng-click="message()" src="/img/message.png")
        div.message(ng-show="show_message")
            div.message_dialog.right
              strong Deja una observación acerca de esta ficha
              textarea.message_content(ng-model="root.proc.mensaje" ng-change="set_message_dirty()")
              button.list_button(ng-click="save_message('proc')") Envia observación
              button.list_button.mleft10(ng-click="close_message()") Cerrar 
              button.list_button.mleft10(ng-show="root.proc.mensaje && !message_dirty" ng-click="del_message('proc')") Borrar 
        div.form_wrapper
          table.tab_form_table
            tr
               td.align_right
                  label.small_form Fiscalía 
               td
                  div.myview_form_value {{root.proc.tipo}}
            tr   
               td.align_right
                  label.small_form Juzgado 
               td
                  div.myview_form_value {{root.proc.juzgado}}
            tr   
               td.align_right
                  label.small_form Radicado 
               td
                  div.myview_form_value {{root.proc.radicado}}
            tr   
               td.align_right
                  label.small_form Estado 
               td
                  div.myview_form_value {{root.proc.estado}}
