div.info
   h2.info_subtitle Imputaciones 
   div(ng-show="root.hoja.imputaciones.length > 0")
      div.remisiones(ng-repeat="r in root.hoja.imputaciones")
        a.inline(href="{{r}}") {{ get_file_name_only(r) }} 
   p(ng-hide="root.hoja.imputaciones.length > 0") No hay archivo de imputaciones.
