div.info
   div.info_wrapper
      div.navegacion_hechos
         div.empty(ng-hide="root.menores.length") No hay menores para usted.
         div.hecho_lista(ng-show="root.menores.length") 
            div.hecho_lista_title
               Hay {{root.menores.length}} menores para usted.
            div.hecho_titulo(ng-class="{selected: $index==root.selectedMenorIndex, dirty: menor.dirty}" ng-click="get_menor($index)" ng-repeat="menor in root.menores") {{root.menor.nombres}} {{root.menor.apellidos}}

      div.datos_version(ng-show="root.menores.length")
         img.icon.right(ng-click="doPrint()" src="/img/print.png")
         h2.info_subtitle Menor
           div.inline.inline-heading {{root.menor.nombres}} {{root.menor.apellidos}}
         hr.title_separator
         img.icon.right(ng-show="root.menor.mensaje" ng-click="message()" src="/img/message_exists.png")
         img.icon.right(ng-hide="root.menor.mensaje" ng-click="message()" src="/img/message.png")
         div.message(ng-show="show_message")
             div.message_dialog.right
               strong Deja una observación acerca de esta ficha
               textarea.message_content(ng-model="root.menor.mensaje" ng-change="set_message_dirty()")
               button.list_button(ng-click="save_message('menor')") Envia observación
               button.list_button.mleft10(ng-click="close_message()") Cerrar 
               button.list_button.mleft10(ng-show="root.menor.mensaje && !message_dirty" ng-click="del_message('menor')") Borrar 
         div.form_wrapper
           table.tab_form_table
            tr
               td.align_right
                  label.small_form Status
               td
                  div.myview_form_value {{root.menor.status}}
            tr
               td.align_right
                  label.small_form Nombres
               td
                  div.myview_form_value {{root.menor.nombres}}
            tr
               td.align_right
                  label.small_form Apellidos
               td
                  div.myview_form_value {{root.menor.apellidos}}
            tr
               td.align_right
                  label.small_form Alias
               td
                  div.myview_form_value {{root.menor.alias}}
            tr
               td.align_right
                  label.small_form Fecha ingreso al BEC
               td
                  div.myview_form_value {{root.menor.fecha_ingreso | date:'dd/MM/yyyy' }}
            tr
               td.align_right
                  label.small_form Edad de ingreso al BEC
               td
                  div.myview_form_value {{root.menor.edad_ingreso}}
            tr
               td.align_right
                  label.small_form Edad de desmovilización
               td
                  div.myview_form_value {{root.menor.edad_desmovilizado}}
            tr
               td.align_right
                  label.small_form Frente
               td
                  div.myview_form_value {{root.menor.frente}}
            tr
               td.align_right
                  label.small_form Comandante inmediato
               td
                  div.myview_form_value {{root.menor.comandante}}
            tr
               td.align_right
                  label.small_form Labor que desarrollaba en el BEC
               td
                  div.myview_form_value {{root.menor.labor}}
            tr
               td.align_right
                  label.small_form Nivél académico
               td
                  div.myview_form_value {{root.menor.nivel_academico}}
            tr
               td.align_right
                  label.small_form Nombre del acudiente
               td
                  div.myview_form_value {{root.menor.acudiente}}
            tr
               td.align_right
                  label.small_form Dirección
               td
                  div.myview_form_value {{root.menor.direccion}}
            tr
               td.align_right
                  label.small_form Telefono
               td
                  div.myview_form_value {{root.menor.telefono}}
            tr
               td.align_right
                  label.small_form Incapacidades
               td
                  div.myview_form_value {{root.menor.incapacidades}}
