div.info
   div.info_wrapper
      div.navegacion_hechos
         div.empty(ng-hide="root.bienes.length") No hay bienes para usted.
         div.hecho_lista(ng-show="root.bienes.length") 
            div.hecho_lista_title
               Hay {{root.bienes.length}} bienes para usted.
            div.hecho_titulo(ng-class="{selected: $index==root.selectedBienIndex, dirty: bien.dirty}" ng-click="get_bien($index)" ng-repeat="bien in root.bienes") {{bien.titulo}}

      div.datos_version(ng-show="root.bienes.length")
        img.icon.right(ng-click="doPrint()" src="/img/print.png")
        h2.info_subtitle Bien
           div.inline.inline-heading {{root.bien.titulo}}
        hr.title_separator
        div.form_wrapper
          table.tab_form_table
            tr
               td.align_right
                  label.small_form Descripción 
               td
                  div.myview_form_value {{root.bien.descripcion}}
            tr
               td.align_right
                  label.small_form Valor 
               td
                  div.myview_form_value {{root.bien.valor}}
            tr
               td.align_right
                  label.small_form Fecha entrega 
               td
                  div.myview_form_value(ng-show="root.bien.fecha_entrega") {{root.bien.fecha_entrega | date:'dd/MM/yyyy' }}
                  div.myview_form_value(ng-hide="root.bien.fecha_entrega") No especificado 
            tr
               td.align_right
                  label.small_form Recibido acción social 
               td
                  div.myview_form_value {{root.bien.rec_acc_social | spanishBool}}
            tr
               td.align_right
                  label.small_form Avalúo acción social 
               td
                  div.myview_form_value {{root.bien.avaluo_acc_social}}
            tr
               td.align_right
                  label.small_form Observaciones 
               td
                  div.myview_form_value {{root.bien.observaciones}}
