div.info_wrapper
   div.navegacion_hechos
      div.empty(ng-hide="root.op_conjuntas.length") No hay asunto de Operaciones Conjuntas para usted.

      div.hecho_lista(ng-show="root.op_conjuntas.length") 
         div.hecho_lista_title
            Hay {{root.op_conjuntas.length}} asuntos de Operaciones Conjuntas para usted.
         div.hecho_titulo(ng-class="{selected: $index==root.selectedOp_conjuntaIndex, dirty: op_conjunta.dirty}" ng-click="get_op_conjunta($index)" ng-repeat="op_conjunta in root.op_conjuntas") {{op_conjunta.titulo}}


   div.datos_version(ng-show="root.op_conjuntas.length")
      img.icon.right(ng-click="doPrint()" src="/img/print.png")
      h2.info_subtitle Datos
        div.inline.inline-heading {{root.op_conjunta.titulo}}
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Relación
            td
               div.myview_form_value {{root.op_conjunta.tipo}}
         tr
            td.align_right
               label.small_form Nombres implicado
            td
               div.myview_form_value {{root.op_conjunta.nombres_implicado}}
         tr
            td.align_right
               label.small_form Apellidos implicado
            td
               div.myview_form_value {{root.op_conjunta.apellidos_implicado}}
   
      //-h2.info_subtitle.inline Georeferenciación     
      //-table.tab_form_table
      //-   tr
      //-      td
      //-         label.small_form Pais
      //-         div.myview_form_value {{root.op_conjunta.pais}}
      //-      td
      //-         label.small_form Departamento
      //-         div.myview_form_value {{root.op_conjunta.departamento}}
      //-      td
      //-         label.small_form Municipio
      //-         div.myview_form_value {{root.op_conjunta.municipio}}
      //-   tr
      //-      td
      //-         label.small_form Corregimiento
      //-         div.myview_form_value {{root.op_conjunta.corregimiento}}
      //-      td
      //-         label.small_form Vereda
      //-         div.myview_form_value {{root.op_conjunta.vereda}}
      //-   tr
      //-      td
      //-         label.small_form Latitud
      //-         div.myview_form_value {{root.op_conjunta.lat}}
      //-      td               
      //-         label.small_form Longitud
      //-        div.myview_form_value {{root.op_conjunta.long}}
