div.info_wrapper
   div.navegacion_hechos
      div.empty(ng-hide="root.relauts.length") No hay asunto de Relaciones Autoridades para usted.
      div.hecho_lista(ng-show="root.relauts.length") 
         div.hecho_lista_title
            Hay {{root.relauts.length}} asuntos de Relaciones Autoridades para usted.
         div.hecho_titulo(ng-class="{selected: $index==root.selectedRelautIndex, dirty: relaut.dirty}" ng-click="get_relaut($index)" ng-repeat="relaut in root.relauts") {{relaut.titulo}}

   div.datos_version(ng-show="root.relauts.length")
      img.icon.right(ng-click="doPrint()" src="/img/print.png")
      h2.info_subtitle Datos
        div.inline.inline-heading {{ root.relaut.titulo }}
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Relaci贸n
            td
               div.myview_form_value {{root.relaut.tipo}}
         tr
            td.align_right
               label.small_form Nombres implicado
            td
               div.myview_form_value {{root.relaut.nombres_implicado}}
         tr
            td.align_right
               label.small_form Apellidos implicado
            td
               div.myview_form_value {{root.relaut.apellidos_implicado}}
         tr
            td.align_right
               label.small_form Compulsa de copias
            td
               div.myview_form_value {{root.relaut.compulsa_copias}}
         tr
            td.align_right
               label.small_form Condenas
            td
               div.myview_form_value {{root.relaut.condenas}}
         tr
            td.align_right
               label.small_form Absoluci贸n
            td
               div.myview_form_value {{root.relaut.absolucion}}
         tr
            td.align_right
               label.small_form Narraci贸n de los hechos
            td
               div.myview_form_value {{root.relaut.narracion}}
         tr
            td.align_right
               label.small_form Rango
            td
               div.myview_form_value {{root.relaut.narracion}}
         tr
            td.align_right
               label.small_form Dependencia
            td
               div.myview_form_value {{root.relaut.narracion}}
         tr
            td.align_right
               label.small_form Fecha
            td
               div.myview_form_value {{root.relaut.fecha}}

      h2.info_subtitle.inline Georeferenciaci贸n     
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Pais
            td
               div.myview_form_value {{root.relaut.pais}}
         tr
            td.align_right
               label.small_form Departamento
            td
               div.myview_form_value {{root.relaut.departamento}}
         tr
            td.align_right
               label.small_form Municipio
            td
               div.myview_form_value {{root.relaut.municipio}}
         tr
            td.align_right
               label.small_form Corregimiento
            td
               div.myview_form_value {{root.relaut.corregimiento}}
         tr
            td.align_right
               label.small_form Vereda
            td
               div.myview_form_value {{root.relaut.vereda}}
         tr
            td.align_right
               label.small_form Latitud
            td
               div.myview_form_value {{root.relaut.lat}}
         tr
            td.align_right               
               label.small_form Longitud
            td
               div.myview_form_value {{root.relaut.long}}
