div.info
   h2.info_subtitle Imputaciones 
   a(ng-show="root.hoja.imputaciones", href="{{root.hoja.imputaciones}}") Bajar archivo imputaciones
   p(ng-hide="root.hoja.imputaciones") No hay archivo de imputaciones.