div.info_wrapper
   div.navegacion_hechos
      div.empty(ng-hide="root.fosas.length") No hay fosas para usted.

      div.hecho_lista(ng-show="root.fosas.length") 
         div.hecho_lista_title
            Hay {{root.fosas.length}} fosas para usted.
         div.hecho_titulo(ng-class="{selected: $index==root.selectedFosaIndex, dirty: fosa.dirty}" ng-click="get_fosa($index)" ng-repeat="fosa in root.fosas") {{fosa.titulo}}

   div.datos_version(ng-show="root.fosas.length")
      img.icon.right(ng-click="doPrint()" src="/img/print.png")
      h2.info_subtitle Fosa
        div.inline.inline-heading {{root.fosa.titulo}}
      hr.title_separator
      img.icon.right(ng-show="root.fosa.mensaje" ng-click="message()" src="/img/message_exists.png")
      img.icon.right(ng-hide="root.fosa.mensaje" ng-click="message()" src="/img/message.png")
      div.message(ng-show="show_message")
          div.message_dialog.right
            strong Deja una observación acerca de esta ficha
            textarea.message_content(ng-model="root.fosa.mensaje" ng-change="set_message_dirty()")
            button.list_button(ng-click="save_message('fosa')") Envia observación
            button.list_button.mleft10(ng-click="close_message()") Cerrar 
            button.list_button.mleft10(ng-show="root.fosa.mensaje && !message_dirty" ng-click="del_message('fosa')") Borrar 
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Enunciada en versión
            td
               div.myview_form_value {{root.fosa.enunciada | spanishBool }}
         tr
            td.align_right
               label.small_form Hecho relacionado
            td
               div.myview_form_value {{root.fosa.delito}}
         tr
            td.align_right
               label.small_form Hora en mención
            td
               div.myview_form_value {{root.fosa.hora_mencion}}
         tr
            td.align_right
               label.small_form Nombre victima
            td
               div.myview_form_value {{root.fosa.victima_nombre}}
         tr
            td.align_right
               label.small_form Perfil victima
            td
               div.myview_form_value {{root.fosa.perfil_victima}}

      h2.info_subtitle.inline Georeferenciación      
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Pais
            td
               div.myview_form_value {{root.fosa.pais}}
         tr
            td.align_right
               label.small_form Departamento
            td
               div.myview_form_value {{root.fosa.departamento}}
         tr
            td.align_right
               label.small_form Municipio
            td
               div.myview_form_value {{root.fosa.municipio}}
         tr
            td.align_right
               label.small_form Corregimiento
            td
               div.myview_form_value {{root.fosa.corregimiento}}
         tr
            td.align_right
               label.small_form Vereda
            td
               div.myview_form_value {{root.fosa.vereda}}
         tr
            td.align_right
               label.small_form Latitud
            td
               div.myview_form_value {{root.fosa.lat}}
         tr
            td.align_right               
               label.small_form Longitud
            td
               div.myview_form_value {{root.fosa.long}}


      h2.info_subtitle Exhumada
      hr.title_separator
      div.form_wrapper
       table.tab_form_table
         tr
            td.align_right
               label.small_form Identificación victima
            td
               div.myview_form_value {{root.fosa.id_victima}}
         tr
            td.align_right
               label.small_form Entregada a los familiares
            td
               div.myview_form_value {{root.fosa.entregada_familia | spanishBool }}
            
   //-div.file_browser(ng-show="showFiles")
   //-   span.close_button.right
   //-      img(id="close_dialog_button" alt="Cerrar" title="Cerrar" ng-click="close_browser()" src="/img/close.png")
   //-   div.file_browser_content         
   //-      div.empty(ng-show="root.files.length < 1") 
   //-         h1 No hay archivos para esta fosa
   //-      div.files(ng-show="root.files.length > 0")
   //-         div.file(ng-repeat="file in root.files")
   //-            a(ng-href="/docs/div.myview_form_value {{.postulado_id}}/fosas/{{root.fosa._id}}/{{file}}")
   //-               img(src="/img/docs_icon.png")
   //-               p.doc_title {{file}}
