div(ng-controller="PostuladoCtrl") 
    //- form(id="postulado_form")
    h1.inline Postulado
    div.actions.right
      button.buttons.action_button Salvar
      button.buttons.action_button Cancelar
      div.save_indicator
    div.postulado_info
      div.postulado_img
      div.nombres
        label Nombres
        input(placeholder="Nombres")
        label Apellidos
        input(placeholder="Apellidos")
      div.cedula
        label Cédula
        input(placeholder="Cédula")


    tabset.info_tabs
      tab.info_tab.active(heading="Hoja de Vida" select="hv()")
        div.tab_content(ng-include="'/partials/hv'" ng-controller="PostuladoCtrl")        
      tab.info_tab(heading="Justicia y Paz" select="jyp()") 
      tab.info_tab(heading="Procesos" select="proc()") 
      tab.info_tab(heading="Bienes" select="bienes()") 
      tab.info_tab(heading="Menores" select="menores()") 

