exports.env = {
  debug: true,
  no_auth: false,
  db_user:  'siar_db',
  db_pw: 'siar_pwd'
}

if exports.env.no_auth
  auth_local = 'mongodb://localhost/jusypaz'
else
  auth_local = 'mongodb://' + exports.env.db_user + ':' + exports.env.db_pw + '@localhost/jusypaz'

exports.creds = {
  #Your mongo auth uri goes here
  # e.g. mongodb://username:server@mongoserver:10059/somecollection
  # nationalpark is the name of my mongo database
  mongoose_auth_local: auth_local,
  #mongoose_auth_jitsu: 'copy and paste your unique connection string uri from the nodejitsu admin'
}

exports.app = {
    port: 3333,
}

exports.backup = {
  dir: "/home/fabio/prj/jusy/backup",
  source_files: "/home/fabio/prj/jusy/jusypaz/media"
}
  
