!!! 5
html
  head
    link(rel='stylesheet', href='/css/main.css') 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    title jusypaz - Autentificación
  body
    div.home_container
      div.login
        div.center.mbottom15
          img(class="logo", src="/img/logo.png")
        form(action="/login",class="login_form", method="post")
          label.form_label Usuario: 
          input(type="text", id="username", name="username") 
          label.form_label Contraseña: 
          input(type="password", id="password", name="password")
          input(type="Submit", class="submit", value="Login")
    img.home_banner(src="/img/home_background.png")
