!!! 5
html
  head
    link(rel='stylesheet', href='/css/main.css') 
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    title SIAR - Autentificación
  body
    div.home_container
      div.login
        div.center.mbottom15
          img(class="logo", src="/img/siar2.png")
        

        //-div.center.app_title
        //-  <h1>SIAR</h1>
        //-  <h3><strong>S</strong>istema de <strong>I</strong>nformación<br/>
        //-  <strong>A</strong>cciones <strong>R</strong>eveladas</h3>

        if message != ""
          p.error
            = '' + message 

        form(action="/login",class="login_form", method="post")
          label.form_label Usuario: 
          //-input(type="text", id="username", name="username") 
          input(type="text", id="cedula", name="cedula") 
          label.form_label Contraseña: 
          input(type="password", id="password", name="password")
          input(type="Submit", class="submit", value="Login")
    //img.home_banner(src="/img/home_background.png")
