/* color: #003b6f */
/* GENERALES */
/* ================================================== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('OpenSansNormal.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('OpenSansBold.ttf') format('truetype');
}

img, li, ul {
    margin:0;
    padding: 0;
}
body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #010101;
}

.centered {
    text-align: center;
}

.w100 {
  width: 100px;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.mbottom15 {
    margin-bottom: 15px;
}

.mleft10 {
  margin-left: 10px;
}

.w65 {
  width: 65px;
}


/* Home */
/* ================================================== */
.home_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #003b6f;
  left: 0;
  top: 0;
}

.home_banner {
   position: fixed;
   left: 0px;
   top: 350px;
   z-index: 2;
}

.submit {
    background-color: #003b6f;
    color: white;
    font-weight:bold;
    height: 40px !important;
    width: 60px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.logo {
    background-color: #003b6f;
    margin-top: 20px;
    padding: 15px 0 0 20px;
    border-radius: 4px;
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -320px;
    width: 400px;
    z-index: 100;
}

.login_form {
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #5EBAD9;
    box-shadow: 5px 5px 2px #010101;
}

.form_label {
   width: 100%;
}

.login input, 
input.dialog_input {
    border: 1px solid #003b6f;
    width: 350px;
    border-radius: 5px;
    height: 28px;
    margin-bottom: 20px;
}

.login input[type=text],
.login input[type=password] {
    width: 336px;
    padding: 0 6px;
}

input.dialog_input {
    padding: 0 6px;
    width: 100%;
}


/*  App */
/* ================================================== */
.dialog {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border-radius: 8px;
    background-color: #5EBAD9;
    box-shadow: 5px 5px 2px #010101;
}

.file_browser {
    position: absolute;
    top: 50px;
    left: 10%;
    margin: 0 auto;
    width: 80%;
    border-radius: 12px;
    background-color: #5EBAD9;
    box-shadow: 5px 5px 2px #010101;
}

.navigation_header {
  height: 44px;
  margin: 0 0 15px 0;
  background-color: #003b6f;
}

.header_logo {
  float: left;
  margin: 2px 0 0 5px;
}

.header_actions {
  margin-top: 12px;
  margin-right: 10px;
  color: white 10px;
  float: right;
}

.header_menu {
    list-style-type: none;
    margin: 0 10px 0 0;
}

li.header_menu_item {
    cursor: pointer;
}


ul.header_submenu {
  list-style-type: none;
  padding-left: 0;
  right: 20px;
  padding-top: 10px;
  position: absolute;
  z-index: 10;
  text-align: left;
}

li.header_submenu_item {
  padding: 8px;
  background-color: #EBF7F7;
  border-bottom: 1px solid #003b6f;
}


li.header_submenu_item:hover  {
    background-color: #003b6f;
    color: white;
}

a.action_link {
  color: white;
  font-weight: bold;
}

.cedula_input_div {
  margin-top: 8px;
}

input.cedula_input {
  height: 26px;
  border: 1px solid #003b6f;
  padding: 4px;
}

.menu_bar {
  border-bottom: 1px solid #003b6f;
}

ul.menu_options {
  list-style-type: none;
  padding-left: 0;
}

li.menu_option {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

ul.submenu {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  position: absolute;
  z-index: 10;
}

li.submenu_option {
  padding: 4px;
  background-color: #EBF7F7;
  border-bottom: 1px solid #003b6f;
}

input.inline_edit_input {
    height: 28px;
    padding: 0;
    border: 0;
    padding: 5px;
}

.inline_edit_text {  
    border-left: 1px solid #D6D6D6;
    border-bottom : 1px solid #D6D6D6;
    padding: 0 0 5px 5px;
}

.info,
.info_wrapper {
  font-size: 12px;
}
h2.info_subtitle {
  font-size: 24px !important;
}
.info_area {
  margin-top: 10px;
}

.info_tabs {
  margin-top: 10px;
}

.add_action {
  background-image: url('../img/add.png');
  width: 64px;
  height: 64px;
  background-color: white;
  border: none;
}

.add_action_small {
  background-image: url('../img/add_small.png');
  width: 32px;
  height: 32px;
  background-color: white;
  border: none;
}


li.info_tab.active a {  
  background-color: #003b6f !important;
  color: white !important;
  font-weight: bold;
}

li.info_tab.active:hover {
  top: -3px;
}

li.info_tab {
  display: inline-block;  
  border-radius: 5px 5px 0 0;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  top: 0px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

li.info_tab a {
  color: #003b6f;
  background-color: #5EBAD9;
}

li.info_tab:hover {
  background: rgba(255,255,255,0.5);
  top: -3px;
}

.info_content {
  border: 1px solid #003b6f;
  border-radius: 0 5px 5px 5px;
}

.tab_content {
  z-index: 2;
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 140%;
  padding-top: 0px !important;
  padding: 15px;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.postulado_info {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.info_general {
  margin-left: 20px;
  width: 250px;
  float: left;
}

.postulado_img {
  background-image: url('/img/profile_placeholder.png');
  background-size: 100px 100px;
  float: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.info_col {
  float: left;
  margin: 0 15px;
  width: 200px;
  height: 200px;
}

.info_footer {
  margin-top: 40px;
  width: 100%;
}

.info_element {
  height: 66px;
}
.info_element_double {
  height: 132px;
}
.info_element_bottom {
  padding-top:38px;
}


div.checkbox_label {
  /*display: inline-block;*/
}
.chk_label {
  width: 80px;
  display: inline-block;
}
div.checkbox_elements {
  display: inline-block;
}

label {
  font-weight: bold;
}

label.small_form {
  font-size: 12px;
  display: inline;
}

#direccion {
  height: 132px;
}

textarea {
  border: 1px solid #003b6f;
  background-color: #EBF7F7;
  border-radius: 5px;
  width: 194px;
  overflow: hidden;
}

.big_text {
  width: 400px;
  height: 200px;
}
div.big_text_div {
  width: 400px;
}
.action_buttons {
  height: 50px;
}

input[type=file] {
  display: inline-block;
}

.buttons {
  cursor: pointer;
  height: 45px;
  width: 90px;
  border: none;
  margin-right: 20px;
}

.list_buttons {
  cursor: pointer;
  height: 30px;
  width: 120px;
  border: none;
}

.action_button {
  background-color: #003b6f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.top_button {
    float: right;
    height: 45px;
    border: 1px solid #003b6f;
    padding: 0 10px;
}

.cancel_button {
  border: 1px solid #003b6f;
  color: white;
  background-color: #003b6f;
  font-weight: bold;
}

.object_table {
  width: 100%;
  border: 1px solid #003b6f;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 5px;
  table-layout: fixed;
}

.tab_form_table {
  width: 100%;
  border-top: 1px solid #003b6f;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 5px;
  table-layout: fixed;
}

.object_table_large {
  border: 1px solid #003b6f;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
  table-layout: fixed;
}
tr.row {
  cursor: pointer;
}

th {
  text-align: left;
  padding: 8px 8px 16px 8px;
}
td {
  text-align: left;
  padding: 8px;
}

td.p_data,
td.u_data {
  width: 150px;
}
  
td.actions {
  /*width: 200px;*/
}

.object_row_even {
  background-color: white;
}
.object_row_even:hover {
  background-color: #003b6f;
  color: white;
}
.object_row_odd,
.no_results {
  background-color: #EBF7F7;
}
.object_row_odd:hover {
  background-color: #003b6f;
  color: white;
}

.error {
  background-color: #DB8E8C;
  color: #FA0400;
  font-weight: bold;
  border-radius: 5px;  
  padding: 5px; 
}

.messages {
  position: absolute;
  left: 50%;
}

.error_message {
  background-color: #DB8E8C;
  color: #FA0400;
  font-weight: bold;
  border-radius: 5px;  
  padding: 10px; 
  width: 800px;
  margin: 0 auto;
  position: relative;
  left: -50%;
}

.notification {
  background-color: #67E08E;
  color: #136134;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  width: 800px;
  margin: 0 auto;  
  position: relative;
  left: -50%;
}

.message_notification {
  cursor: pointer;
  background-color: #EDB44A;
  color: #136134;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  width: 800px;
  margin: 0 auto;  
  position: relative;
  left: -50%;
}

.header_submenu.ng-hide-add {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:1;
}
.header_submenu.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

/* When showing an element */
.header_submenu.ng-hide-remove{
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
  opacity:0;
}
.header_submenu,
.header_submenu.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.object_container {
  margin-top: 20px;
  width: 100%;
}

.object_list_large {
  width: 100%;
}

.editing {
  background-color: #EDB44A;
}

.dirty {
  background-color: #EDB44A;
  color: red !important;
}
  

.navegacion_hechos {
  float: left;
  min-height: 400px;
  padding-top: 20px;
  width: 10%;
}

.empty {
  color: #010101;
  font-weight: bold;
}


.datos_version {
  float: left;
  width: 85%;
  margin-left: 20px;
}
.hecho_titulo {
  border : 1px solid #D6D6D6;
  cursor: pointer;
  padding: 4px;
}

.hecho_titulo.selected {
  background-color: #003b6f;
  font-weight: bold;
  color: white;
}

.hecho_titulo:hover {
  background-color: #D6D6D6;
  font-weight: bold;
  word-wrap: break-word;
}

.inline-heading {
  margin-left: 10px;
  height: 35px;
  background-color: #EBF7F7;
  padding-right: 8px;
}
.inline_edit_select {
  width: 90%;
  height: 25px;
  border: 1px solid #010101;
  background-color: white;
}
.small_text {
  font-size: 10px;
}

.percent {
    position: absolute; width: 300px; height: 24px; z-index: 2; text-align: center; font-size: 0.8em; color: white;
    background-color: #003b6f;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 100;
}

#video_container {
    z-index:  2000;
    position: absolute;
    left: -50%;
    bottom: 100px;
}

.video_wrapper {
    position: absolute;
    left: 50%;
}

.hecho_lista_title {
  margin-bottom: 15px;
}

.admin_portal {
  margin: 0 auto; 
  width: 1200px; 
  padding-top: 20px;
}

.page_title {
  color: #003b6f;
}

ul.lista_acciones {
  margin-left: 50px;
}

li.acciones_link {
  color: #003b6f;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
}

.upload_button {
  position: absolute;
  width: 100px;
  height: 50px;
}
.inline-radio-label {
  margin-left:50px;
  margin-right: 5px;
}

.inline_edit_textarea,
.textwrapper {
  position: absolute;
  float: left;
  z-index: 2000;
  padding: 10px;
  border: 1px solid #003b6f;
  width: 600px;
  min-height: 400px;
}

.inline_edit_textarea {
  line-height: 18px;
}

.textwrapper {
  background-color: #EBF7F7;
}

.inline_edit_longtext {
  width: 472px;
  height: 34px;
  overflow-y: hidden;
}

.animate-show {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 1;
}
 
.animate-show.animate-show-active {
  opacity: 0;
}

.animate-hide {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
 
.animate-hide.animate-hide-active {
  opacity: 1;
}

.app_title h1,
.app_title h3 {
  color: white;
}

.page_wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.action {
  background: none;
  border: none;
}

div.uploadContainer {
   position: relative;
}

div.uploadContainer input[type=file] {
   visibility: hidden;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.file {
  width: 262px;
  display: inline-block;
}

.close_button {
  padding: 10px 10px 0 0;
  cursor: pointer;
}

.doc_title {
  font-size: 20px;
  color: white;
  text-align: center;
}

.file_browser_content {  
    padding: 50px;
}

.message_text {
  width: 100%;
  height: 400px;
}

tr.unread {
  font-weight: bold;
}