/* color: #003b6f */
/* GENERALES */
/* ================================================== */
img, li, ul {
    margin:0;
    padding: 0;
}
body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.centered {
    text-align: center;
}

.w100 {
  width: 100px;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.mbottom15 {
    margin-bottom: 15px;
}

.w65 {
  width: 65px;
}


/* Home */
/* ================================================== */
.home_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #003b6f;
  left: 0;
  top: 0;
}

.home_banner {
   position: fixed;
   left: 0px;
   top: 350px;
   z-index: 2;
}

.submit {
    background-color: #003b6f;
    color: white;
    font-weight:bold;
    height: 40px;
    width: 60px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.logo {
    background-color: #003b6f;
    margin-top: 20px;
    padding: 15px 0 0 20px;
    border-radius: 4px;
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -320px;
    width: 400px;
    z-index: 100;
}

.login_form {
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #5EBAD9;
    box-shadow: 5px 5px 2px #010101;
}

.form_label {
   width: 100%;
}

.login input {
    border: 1px solid #003b6f;
    width: 100%;
    border-radius: 5px;
    height: 28px;
    margin-bottom: 20px;
    padding: 0 6px;
}


/*  App */
/* ================================================== */
.navigation_header {
  height: 44px;
  margin: 0 0 15px 0;
  background-color: #003b6f;
}

.header_logo {
  float: left;
  margin: 2px 0 0 5px;
}

.header_actions {
  margin-top: 12px;
  margin-right: 10px;
  color: white 10px;
  float: right;
}

.header_menu {
    list-style-type: none;
    margin: 0 10px 0 0;
}

li.header_menu_item {
    cursor: pointer;
}


ul.header_submenu {
  list-style-type: none;
  padding-left: 0;
  right: 20px;
  padding-top: 10px;
  position: absolute;
  z-index: 10;
  text-align: left;
}

li.header_submenu_item {
  padding: 8px;
  background-color: #EBF7F7;
  border-bottom: 1px solid #003b6f;
}

li.header_submenu_item:hover  {
    background-color: #003b6f;
    color: white;
}

a.action_link {
  color: white;
  font-weight: bold;
}

.cedula_input {
  margin-top: 12px;
}
    .
.menu_bar {
  border-bottom: 1px solid #003b6f;
}

ul.menu_options {
  list-style-type: none;
  padding-left: 0;
}

li.menu_option {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

ul.submenu {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  position: absolute;
  z-index: 10;
}

li.submenu_option {
  padding: 4px;
  background-color: #EBF7F7;
  border-bottom: 1px solid #003b6f;
}

input.inline_edit_input {
    border-radius: 5px;
    height: 28px;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
    width: 188px;
    padding: 0 6px;
}

div.inline_edit_div {
    background-color: #EBF7F7;
    border: 1px solid #003b6f;
    border-radius: 5px;
    height: 28px;
    margin-bottom: 20px;
}

div.inline_edit_text {
    padding: 6px;
}
  

.form {
  font-size: 14px;
  height: 28px;
  margin-bottom: 20px;
}

.square_28 {
  height: 28px;
  width: 28px;
}

.editable_heading {
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
  width: 282px;
}

.postulado_info {
    width: 100%;
    height: 200px;
}

.postulado_img {
  background-image: url('/img/profile_placeholder.png');
  background-size: 200px 200px;
  float: left;
  width: 200px;
  height: 200px;
}

.info_col {
  float: left;
  margin: 0 15px;
  width: 200px;
  height: 200px;
}

.info_footer {
  margin-top: 40px;
  width: 100%;
}

.info_element {
  height: 66px;
}
.info_element_double {
  height: 132px;
}
.info_element_bottom {
  padding-top:38px;
}

div.postulado_main {
  width: 100%;
  margin: 20px 0 80px 0;
}  

div.checkbox_label {
  /*display: inline-block;*/
}
.chk_label {
  width: 80px;
  display: inline-block;
}
div.checkbox_elements {
  display: inline-block;
}

label {
  font-weight: bold;
}

#direccion {
  height: 132px;
}

textarea {
  border: 1px solid #003b6f;
  background-color: #EBF7F7;
  border-radius: 5px;
  width: 194px;
  overflow: hidden;
}

.big_text {
  width: 400px;
  height: 200px;
}
div.big_text_div {
  width: 400px;
}
.action_buttons {
  height: 50px;
}

.buttons {
  cursor: pointer;
  height: 45px;
  width: 90px;
  border: none;
  margin-right: 20px;
}

.list_buttons {
  cursor: pointer;
  height: 30px;
  width: 120px;
  border: none;
}

.action_button {
  background-color: #003b6f;
  color: white;
  font-weight: bold;
}

.cancel_button {
  border: 1px solid #003b6f;
  color: white;
  background-color: #003b6f;
  font-weight: bold;
}

.object_table {
  border: 1px solid #003b6f;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.object_table_large {
  border: 1px solid #003b6f;
  padding: 10px;
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
}
tr.row {
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 8px;
}

td.p_data,
td.u_data {
  width: 150px;
}
  
td.actions {
  /*width: 200px;*/
}

.object_row_even {
  background-color: white;
}
.object_row_even:hover {
  background-color: #003b6f;
  color: white;
}
.object_row_odd,
.no_results {
  background-color: #EBF7F7;
}
.object_row_odd:hover {
  background-color: #003b6f;
  color: white;
}

.error {
  background-color: #DB8E8C;
  color: #FA0400;
  font-weight: bold;
  border-radius: 5px;
}

.notification {
  background-color: #67E08E;
  color: #136134;
  font-weight: bold;
  border-radius: 5px;
}


.header_submenu.ng-hide-add {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:1;
}
.header_submenu.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

/* When showing an element */
.header_submenu.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
  opacity:0;
}
.header_submenu,
.header_submenu.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.object_container {
  margin-top: 20px;
  width: 100%;
}

.object_list_large {
  width: 100%;
}
