div.admin_portal(ng-controller="MenuCtrl")
  h1.page_title Bienvenido administrador!
  div.acciones 
    h2 Que puedes hacer:
    ul.lista_acciones
      li.acciones_link(ng-click="admin_postulados()") Administrar postulados
      li.acciones_link(ng-click="admin_users()") Administrar usuarios
      li.acciones_link(ng-click="admin_codigos()") Editar lista de codigos penales