div.data_container
    div.users(ng-controller="AdminCtrl")
        h1 Postulados 
        div.data_table_container
            button.action_button.top_button(ng-click="add_postulado()") Agregar Postulado 
            table#users_table.object_table
                thead
                    tr.row
                      th Nombres 
                      th Apellidos 
                      th Cedula 
                      th Fecha de nacimiento 
                      th Ciudad 
                      th Acciones 
                tbody
                    tr.row(ng-class="{editing: is_dirty(p)}" ng-repeat="p in postulados" ng-class-odd="'object_row_odd'" ng-class-even="'object_row_even'")
                      td 
                        div(input-inline-edit="p.nombres" ng-focus="edit()" tabindex="{{ $index*10 + 1 }}")
                      td 
                        div(input-inline-edit="p.apellidos" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-edit="p.cedula" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-date="p.fecha_nacimiento" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-edit="p.ciudad" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td 
                        button.action(ng-show="is_dirty(p)" ng-click="save_postulado(p)") Salvar 
                        button.action(ng-hide="is_dirty(p)") Eliminar
                        button.action(ng-click="view_postulado(p.cedula)" ) Ver
