div.data_container
    div.users(ng-controller="AdminCtrl")
        h1 Postulados 
        div.data_table_container
            button.action_button.top_button(ng-click="add_postulado()") Agregar Postulado 
            table#users_table.object_table
                thead
                    tr.row
                      th Apellidos 
                      th Nombres 
                      th Cedula 
                      th Fecha de nacimiento 
                      th Ciudad 
                      th Informaciones 
                tbody
                    tr.row(ng-class="{editing: is_dirty(p)}" ng-repeat="p in postulados | orderBy: 'apellidos'" ng-class-odd="'object_row_odd'" ng-class-even="'object_row_even'")
                      td 
                        div(input-inline-edit="p.apellidos" on-save="set_p_dirty(p)" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td 
                        div(input-inline-edit="p.nombres" on-save="set_p_dirty(p)" ng-focus="edit()" tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-edit="p.cedula" on-save="set_p_dirty(p)" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-date="p.fecha_nacimiento" on-save="set_p_dirty(p)" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td
                        div(input-inline-edit="p.ciudad" on-save="set_p_dirty(p)" ng-focus="edit()"  tabindex="{{ $index*10 + 1 }}")
                      td 
                        button.action(ng-show="is_dirty(p)" ng-click="save_postulado(p)") 
                          img(src="/img/save.png") Guardar 
                        button.action(ng-hide="is_dirty(p)" ng-click="delete_postulado(p)") 
                          img(src="/img/delete.png") Eliminar
                        button.action(ng-click="view_postulado(p.cedula)" ) 
                          img(src="/img/see.png") Ver
