div.data_container
    div.users(ng-controller="AdminCtrl")
        h1 Usuarios
        div.data_table_container
            button.action_button.top_button(ng-click="add_user()") Agregar Usuario 
            table#users_table.object_table
                thead
                    tr.row
                      th Usuario
                      th Cedula
                      th Contraseña 
                      th Rol
                      th Acciones
                tbody
                    tr.row(ng-class="{editing: is_dirty(user)}" ng-repeat="user in usuarios" ng-class-odd="'object_row_odd'" ng-class-even="'object_row_even'")
                      td 
                        div(input-inline-edit="user.username" ng-focus="edit()" tabindex="{{ $index*10 + 1 }}")
                      td 
                        div(input-inline-edit="user.cedula" ng-focus="edit()" tabindex="{{ $index*10 + 2 }}")
                      td 
                        div(input-inline-password="user.password" ng-focus="edit()" tabindex="{{ $index*10 + 3 }}")
                      td 
                        div(input-inline-edit="user.role" ng-focus="edit()" tabindex="{{ $index*10 + 4 }}")
                      td
                            button.action(ng-show="is_dirty(user)" ng-click="save_user(user)") Salvar 
                            button.action(ng-hide="is_dirty(user)") Eliminar
